<a href="https://colab.research.google.com/github/Kriti-Saxena/Netflix-Hulu-Cmpetitive-Analysis-/blob/main/Dashboard_Backend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
from pathlib import Path as Path
from collections import Counter

In [4]:
data_hulu = pd.read_csv("hulu_titles.csv")
data_netflix = pd.read_csv("netflix_titles.csv")

In [5]:
data_hulu.dtypes

show_id          object
type             object
title            object
director         object
cast            float64
country          object
date_added       object
release_year      int64
rating           object
duration         object
listed_in        object
description      object
dtype: object

# **Connecting to SQLite3**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [7]:
Path('hulu.db').touch()
data_hulu_conn = sqlite3.connect('hulu.db')
data_hulu_cursor = data_hulu_conn.cursor()

In [8]:
data_hulu.to_sql('data_hulu', data_hulu_conn, if_exists='append', index=False)

In [9]:
Path('netflix.db').touch()
data_netflix_conn = sqlite3.connect('netflix.db')
data_netflix_cursor = data_netflix_conn.cursor()

data_netflix.to_sql('data_netflix', data_netflix_conn, if_exists='append', index=False)

In [10]:
tv_movie_count = pd.read_sql('''SELECT COUNT(*) FROM data_hulu 
                                WHERE type == 'Movie' ''', data_hulu_conn)
tv_movie_count

   COUNT(*)
0      1484

In [11]:
tv_show_count = pd.read_sql('''SELECT COUNT(*) FROM data_hulu 
                                WHERE type == 'TV Show' ''', data_hulu_conn)
tv_show_count

   COUNT(*)
0      1589

In [12]:
hulu_movie = pd.read_sql('''SELECT * FROM data_hulu 
                                WHERE type == 'Movie' ''', data_hulu_conn)
hulu_movie
hulu_movie_csv = hulu_movie.to_csv('hulu_movie.csv')

In [13]:
hulu_shows = pd.read_sql('''SELECT * FROM data_hulu 
                                WHERE type == 'TV Show' ''', data_hulu_conn)
hulu_shows
hulu_show_csv = hulu_show.to_csv('hulu_show.csv')

NameError: ignored

In [24]:
hulu_genre=list(data_hulu['listed_in'])

string=[]


for x in hulu_genre:
    spl=x.split(', ')
    for y in spl:
        string.append(y)

string=pd.DataFrame(string)
string.columns=['genre']
group= string.groupby('genre').agg({'genre':'count'})
group.apply(lambda x: x.sort_values(ascending=False))

                      genre
genre
Drama                   907
Comedy                  667
Adventure               556
Action                  555
Documentaries           524
Anime                   329
Horror                  304
Reality                 247
Thriller                231
Crime                   217
International           216
Family                  205
Romance                 186
Kids                    162
Lifestyle & Culture     155
Sports                  139
Science Fiction         122
Sitcom                  118
Black Stories           113
News                    106
Latino                   92
Mystery                  81
Cooking & Food           80
Music                    79
History                  70
LGBTQ+                   67
Science & Technology     48
Adult Animation          37
Classics                 35
Cartoons                 34
Teen                     34
Game Shows               18
Stand Up                 12
Health & Wellness         8
Late Night                4
Sketch Comedy             3

In [53]:
hulu_movies_genre = list(hulu_movie['listed_in'])

string_movies=[]


for x in hulu_movies_genre:
    split_movies=x.split(', ')
    for y in split_movies:
        string_movies.append(y)

string_movies=pd.DataFrame(string_movies)
string_movies.columns=['genre']
group= string_movies.groupby('genre').agg({'genre':'count'})
group.apply(lambda x: x.sort_values(ascending=False))

                      genre
genre
Drama                   489
Comedy                  337
Documentaries           278
Action                  273
Adventure               260
Horror                  258
Thriller                208
Romance                 134
Sports                   80
Family                   79
Crime                    74
Science Fiction          72
Kids                     67
Black Stories            58
Music                    56
International            55
LGBTQ+                   52
News                     50
Mystery                  38
Anime                    35
History                  33
Science & Technology     25
Classics                 15
Latino                   14
Reality                  10
Stand Up                 10
Lifestyle & Culture      10
Cooking & Food            7
Teen                      6
Adult Animation           5
Cartoons                  5
Sitcom                    4
Health & Wellness         1

In [14]:
netflix_movie = pd.read_sql('''SELECT * FROM data_netflix 
                                WHERE type == 'Movie' ''', data_netflix_conn)
netflix_movie
netflix_movie_csv = netflix_movie.to_csv('netflix_movie.csv')

In [15]:
netflix_show = pd.read_sql('''SELECT * FROM data_netflix 
                                WHERE type == 'TV Show' ''', data_netflix_conn)
netflix_show
netflix_show_csv = netflix_show.to_csv('netflix_show.csv')

In [16]:
netflix_show

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
1,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
2,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
3,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
4,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",None,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
...,...,...,...,...,...,...,...,...,...,...,...,...
2671,s8796,TV Show,Yu-Gi-Oh! Arc-V,None,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada","May 1, 2018",2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...
2672,s8797,TV Show,Yunus Emre,None,"Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...",Turkey,"January 17, 2017",2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas","During the Mongol invasions, Yunus Emre leaves..."
2673,s8798,TV Show,Zak Storm,None,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...
2674,s8801,TV Show,Zindagi Gulzar Hai,None,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,"December 15, 2016",2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre..."
2675,s8804,TV Show,Zombie Dumb,None,None,None,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."

In [17]:
string_movies_csv = string_movies.to_csv('hulu_movie_genre.csv')

NameError: ignored

In [ ]:
hulu_show_genre = list(hulu_shows['listed_in'])

string_show=[]


for x in hulu_show_genre:
    split_show=x.split(', ')
    for y in split_show:
        string_show.append(y)

string_show=pd.DataFrame(string_show)
string_show.columns=['genre']
group= string_show.groupby('genre').agg({'genre':'count'})
group.apply(lambda x: x.sort_values(ascending=False))

In [55]:
string_show_csv = string_show.to_csv('hulu_show_genre.csv')

In [30]:
# country for hulu 
h=data_hulu.groupby('country').agg({'country':'count'})
h.apply(lambda x: x.sort_values(ascending=False)).head()
country_hulu_csv = h.to_csv('hulu_country.csv')

                               country
country
United States                      921
Japan                              268
United Kingdom                     113
Canada                              34
United Kingdom, United States       26

In [26]:
# Netflix genre
netflix_movies_genre = list(netflix_movie['listed_in'])

string_movies_netflix=[]


for x in netflix_movies_genre:
    split_movies=x.split(',')
    for y in split_movies:
        string_movies_netflix.append(y)

string_movies_netflix=pd.DataFrame(netflix_movies_genre)
string_movies_netflix.columns=['genre']
group= string_movies_netflix.groupby('genre').agg({'genre':'count'})
group.apply(lambda x: x.sort_values(ascending=False)) 

Netflix_movie_genre_csv = string_movies_netflix.to_csv('netflix_movie_genre.csv')

In [27]:
netflix_show_genre = list(netflix_show['listed_in'])

string_show_netflix=[]


for x in netflix_show_genre:
    split_movies=x.split(',')
    for y in split_movies:
        string_show_netflix.append(y)

string_show_netflix=pd.DataFrame(netflix_show_genre)
string_show_netflix.columns=['genre']
group= string_show_netflix.groupby('genre').agg({'genre':'count'})
group.apply(lambda x: x.sort_values(ascending=False)) 

Netflix_ahow_genre_csv = string_show_netflix.to_csv('netflix_show_genre.csv')

In [20]:
g=data_netflix.groupby('country').agg({'country':'count'})
g.apply(lambda x: x.sort_values(ascending=False))
netflix_country = g.to_csv('netflix_country.csv')

In [21]:
data_netflix.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [28]:
Netflix_movie_count = pd.read_sql('''SELECT COUNT(*) FROM data_netflix 
                                WHERE type == 'Movie' ''', data_netflix_conn)
Netflix_movie_count

   COUNT(*)
0      6131

In [29]:
Netflix_show_count = pd.read_sql('''SELECT COUNT(*) FROM data_netflix 
                                WHERE type == 'TV Show' ''', data_netflix_conn)
Netflix_show_count

   COUNT(*)
0      2676